<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/cockpit.css' />
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/cockpit.js'></script>
</head>

<body>
    <div class='vertical-center'>
        <button class='control-button' id='prev-button' onclick='testButtonPrev()'>&lt;&lt;</button>
        <button class='control-button' id='go-button' onclick='testButtonGo()'>GO</button>
        <button class='control-button' id='next-button' onclick='testButtonNext()'>&gt;&gt;</button>
    </div>
</body>

</html>