<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/green-screen.css' />
    <script src='/javascripts/countDownTimer.js'></script>
    <script src='/javascripts/workoutSequence.js'></script>
    <script src='/javascripts/green-screen.js'></script>
</head>

<body>
    <div id='countdown'>
        <svg id='countdown-svg'>
            <circle class='countdown-circle' id='countdown-circle-bg' r='87' cx='100' cy='100'></circle>
            <circle class='countdown-circle' id='countdown-circle-fg' r='87' cx='100' cy='100'></circle>
            <circle class='outline-circle' id='outline-circle' r='76' cx='100' cy='100'></circle>
        </svg>
        <div id='countdown-number'></div>
    </div>

    <div id='sequence'>
        <div class='sequence-group' id='sequence-now'>
            <div class='sequence-label' id='sequence-label-now'>now</div>
            <div class='sequence-value' id='sequence-value-now'>&nbsp;</div>
        </div>
        <div class='sequence-group' id='sequence-next'>
            <div class='sequence-label' id='sequence-label-next'>next</div>
            <div class='sequence-value' id='sequence-value-next'>&nbsp;</div>
        </div>
    </div>

    <!-- Debug -->
    <div class='vertical-center'>
        <button class='control-button' id='prev-button' onclick='testButtonPrev()'>&lt;&lt;</button>
        <button class='control-button' id='go-button' onclick='testButtonGo()'>GO</button>
        <button class='control-button' id='next-button' onclick='testButtonNext()'>&gt;&gt;</button>
    </div>
</body>

</html>