<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src='/javascripts/index.js'></script>
</head>

<body>
    <div class='app-list'>
        <div class='app-item'>
            <a href='/cockpit'>
                <img src='/images/cockpit-icon.png'/>
            </a>
        </div>
        <div class='app-item'>
            <a href='/green-screen'>
                <img src='/images/green-screen-icon.png'/>
            </a>
        </div>
    </div>
</body>

</html>