body {
    height: 100%;
    width: 100%;
    background-color: #009627;
}

#countdown {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 200px;
    width: 200px;
    text-align: center;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 200px;
    font-size: 46px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: scaleY(1.5);
}

#countdown-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown-circle {
    stroke-linecap: butt;
    stroke-width: 25px;
    fill: none;
}

#countdown-circle-fg {
    stroke: orange;
    stroke-dasharray: 565px;
    stroke-dashoffset: 0px;
}

#countdown-circle-bg {
    stroke: #333;
}

#outline-circle {
    stroke: white;
    stroke-width: 4;
    fill: cornflowerblue;
    fill-opacity: 30%;
}

#sequence {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: right;
}

.sequence-label {
    opacity: 70%;
    margin-top: 15px;
}

.sequence-value {
    font-weight: bold;
}

#sequence-next {
    opacity: 40%;
    font-size: 35px;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 565px;
    }
}

/* Debug */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
